{% extends "foodhub/layout.html" %}

{% block title%} Add Ingredients to {{ recipe.name }}{% endblock%}
{% block body %}   
<div class="container-and-link">
    <div class="ingredient-form-container">
        <div class="ingredient-form-image">
            <h1>Add Ingredient to: </h1><span>{{ recipe.name }}</span>
            <img src="{{ recipe.image.url }}" alt="" width="100%" height="100%">
        </div>
        <div class="ingredient-form">
            <form action="{% url 'add_ingredient' recipe.name %}" method="post">
                {% csrf_token %}
                <div id="ingredient-forms">
                    <div class="ingredient-form">
                        <h3>Ingredient: </h3>{{ form.name }}
                        <h3>Quantity: </h3>{{ form.quantity }}
                        <h3>Unit of Measurment: </h3>{{ form.unit_of_measurement }}
                    </div>
                </div>
                <button type="submit" name="add_ingredient">Submit</button>
            </form>
        </div>
    </div>
    <div class="button-container">
        <button title="next-form">
            <a href="{% url 'add_step' recipe.name %}">
                <i class="fa-solid fa-arrow-right"></i>
            </a>
        </button>
        <span class="button-label">Add Directions</span>
    </div>
</div>
<div class="ingredients-container">
    <h1>Ingredients</h1>
    <ul class="ingredients-list">
        <form action="{% url 'add_ingredient' recipe.name %}" method="post" id="delete-ingredient-form">
            {% csrf_token %}
            {% for ingredient in ingredients %}
                {% if ingredient.unit_of_measurement == 'none' %}
                    <li data-ingredient-id="{{ ingredient.id }}">
                        {{ ingredient.quantity }} 
                        {{ ingredient.name  }}
                        <i class="fa-solid fa-minus delete-icon" data-ingredient-id="{{ ingredient.id }}"></i>
                    </li>
                {% else %}
                    <li data-ingredient-id="{{ ingredient.id }}">
                        {{ ingredient }}
                        <i class="fa-solid fa-minus delete-icon" data-ingredient-id="{{ ingredient.id }}"></i>
                    </li>
                {% endif %}
            {% endfor %}
            <input type="hidden" name="delete_ingredient" id="delete-ingredient-id">
        </form>
    </ul>
</div>
{% endblock %}