{% extends 'foodhub/layout.html' %}

{% block title %} Create Mealplan {% endblock %}
{% block body %}
<div class="create-mealplan-container">
    <div class="months-sidebar">
        <div class="year-slider">
            <i class="fa-solid fa-angle-left year-prev"></i>
            <div class="current-year"></div>
            <i class="fa-solid fa-angle-right year-next"></i>
        </div>
        <div class="month-list">

        </div>
    </div>
    <div class="calendar-container">
        <div class="calendar-header">
            <i class="fa-solid fa-angle-left prev"></i>
            <div class="date" id="date"></div>
            <i class="fa-solid fa-angle-right next"></i>
        </div>
        <div class="weekdays">
            <div>sun</div>
            <div>mon</div>
            <div>tue</div>
            <div>wed</div>
            <div>thu</div>
            <div>fri</div>
            <div>sat</div>
        </div>
        <div class="days">

        </div>
    </div>
    <div class="event-container">
        <div class="event-search">
            <form id="search-form">
                <input type="search" placeholder="mm/yyyy" id="search-input" required>
                <button type="submit" id="search-event"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
        </div>
        <div class="event-date"></div>
        <div class="mealplan-details"></div>
        <div class="add-mealplan-btn">
            Add Mealplan
            <i class="fa-solid fa-plus"></i>
        </div>
        <div class="view-mealplan-btn" style="display: none;">View Mealplan</div>
    </div>
    <div class="add-meal-form">
        <h1>Create a New Meal Plan</h1>
        <form method="post">
            {% csrf_token %}
            <h3>Name: {{ form.name }}</h3>
            <h3>Recipes:</h3>
            <h3>{{ form.recipes }}</h3>
            <div class="recipe-images">
                {% for recipe in all_recipes %}
                    <div class="recipe-image" data-value="{{recipe.name}}">
                        <img src="{{ recipe.image.url }}" alt="">
                    </div>
                {% endfor %}
            </div>
            <h3 id="form-date" name="date">{{ form.date }}</h3>
            <button type="submit">Create Meal Plan</button>
        </form>
    </div>
    <div class="mealplan-container">
        <div class="mealplan-sidebar"></div>
        <div class="mealplan-recipes"></div>
        <div class="mealplan-recipe-view"></div>
    </div>
</div>
{% endblock %}
<!-- edit code later to initially display big calendar, and then when user selects date, displays a 
new screen overlay about creating mealplan -->
<!-- <h2>Create a New Meal Plan</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Create Meal Plan</button>
    </form> -->