{% extends "foodhub/layout.html" %}

{% block body %}
<div class="login-container">
    <div class="login-image">
        <img src="media/italian.jpg" alt="">
    </div>
    <div class="login-forms">
        <form action="{% url 'login_view' %}" method="post">
            <div class="login-title">
                <h1>Welcome</h1>
            </div>
            {% csrf_token %}
            <div class="form-group">
                <i class="fas fa-user"></i>
                <input type="text" name="username" placeholder="Username">
            </div>
            <div class="form-group">
                <i class="fas fa-lock"></i>
                <input type="password" name="password" placeholder="Password">
            </div>
            <div class="form-button">
                <input class="btn btn-primary" type="submit" value="Login">
            </div>
        </form>
        <div class="login-links">
            <span>Don't have an account yet?</span><a href="{% url 'register' %}">Sign up now!</a>
        </div>
    </div>
</div>
{% endblock %}