{% extends 'foodhub/layout.html' %}

{% block title %}My Shopping List{% endblock %}

{% block body %}    
<div class="shopping-list-container">
    <ul class="shopping-list">
        <div class="header">
            <h1>My shopping list</h1>
            <h3>{{ ingredient_count }} Ingredients</h3>
        </div>
        {% if ingredients %}
            {% for recipe_name, ingredient_list in ingredients.items %}
                <form method="post" action="{% url 'my_shopping_list' %}">
                    {% csrf_token %}
                    <h2>{{ recipe_name }}</h2>
                    <input type="hidden" name="recipe_name" value="{{ recipe_name }}">
                    <button type="submit">Remove Recipe</button>
                </form>
                <ul>
                    {% for ingredient in ingredient_list %}
                        {% if ingredient.unit_of_measurement == 'none' %}
                            <li>{{ ingredient.quantity }} {{ ingredient.name }}</li>
                        {% else %}
                            <li>{{ ingredient.quantity }} {{ ingredient.get_unit_of_measurement_display }} of {{ ingredient.name }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endfor %}
        {% else %}
            <p>No ingredients in your shopping list.</p>
        {% endif %}
    </ul>
</div>
{% endblock %}