{% extends "foodhub/layout.html" %}

{% block title%}Create An Account{% endblock%}
{% block body %}
<div class="register-container">
    <div class="login-forms">
        <form action="{% url 'register' %}" method="post">
            <div class="login-title">
                <h1>Sign up now!</h1>
            </div>
            {% csrf_token %}
            <div class="form-group">
                <i class="fas fa-user"></i>
                <input class="form-control" autofocus type="text" name="username" placeholder="Username" autocomplete="off"
                hx-post="/check_username/"
                hx-trigger="keyup changed delay:0.5s"
                hx-target="#username-error"
                >
            </div>
            <div id="username-error"></div>
            <div class="form-group">
                <i class="fa-solid fa-envelope"></i>
                <input class="form-control" type="email" name="email" placeholder="Email Address">
            </div>
            <div class="form-group">
                <i class="fas fa-lock"></i>
                <input class="form-control" type="password" name="password" placeholder="Password">
            </div>
            <div class="form-group">
                <i class="fas fa-lock"></i>
                <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password">
            </div>
            <div class="form-button">
                <input class="btn btn-primary" type="submit" value="Register">
            </div>
        </form>
        <div class="login-links">
            <span>Already have an account?</span><a href="{% url 'login_view' %}">Login</a>
        </div>
    </div>
    <div class="register-image">
        <img src="media/pexels-valeriya-burger-1199957.jpg" alt="">
    </div>
</div>
{% endblock %}